################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/navnitsft.BookStore/.vs/navnitsft.BookStore
/navnitsft.BookStore/navnitsft.BookStore/obj
/navnitsft.BookStore/.vs/ProjectEvaluation
/navnitsft.BookStore/navnitsft.BookStore/bin/Debug/net6.0
/navnitsft.EmployeeMngt
