@{
    ViewData["Title"] = "Home Page";
}

<section class="jumbotron jumbotronbox text-center py-3">
    <h3 class="h3 mb-4">Welcome to book store application</h3>
    <div class="container">
        <p class="lead text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <button class="btn btn-primary my-2">Search books</button>
</section>

<section class="pt-4 pb-2 bg-light"> 
    <div class="container">
        <h4 class="h4">Top available books</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm ">
                    <img src="~/images/thumbnail.png" class="figure-img" height="225" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Book 1</h5>
                        <p class="card-text">This section will be used to display the description of book</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">view details</a>
                            </div>
                            <small>Author name</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm ">
                    <img src="~/images/thumbnail.png" class="figure-img" height="225" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Book 2</h5>
                        <p class="card-text">This section will be used to display the description of book</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">view details</a>
                            </div>
                            <small>Author name</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm ">
                    <img src="~/images/thumbnail.png" class="figure-img" height="225" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Book 3</h5>
                        <p class="card-text">This section will be used to display the description of book</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">view details</a>
                            </div>
                            <small>Author name</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
